<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/" method="POST" enctype="multipart/form-data">
    {{ if .video }}
    <video width="640" height="480" controls>
      <source src="{{ .video }}" type="video/mp4">
    </video>
    {{ end }}
    <input type="file" name="video">
    <input type="submit">
    {{ if .error }}
    <p>{{ .error }}</p>
    {{ end }}
  </form>
</body>

</html>